.animated, .title {
    margin: 25px 50px;
    font-family: Arial, sans-serif;
    font-weight: lighter;
    color: #616161;
    text-align: center;
    text-shadow: 1px 1px #515151;
}


@font-face {
    font-family: tili;
    src: url('cssref/tilireg.ttf');
}
