.title {
    margin: 25px 50px;
    font-family: "Arial", Sans-serif;
    font-weight: bold;
    color: #616161;

}
#sidebarText {
	font-size: 90%;
	font-weight: bold;
	font-family: "Arial", Sans-serif;
	color: #808080
}

p {
	font-size: 110%;
}
